# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
# 빌드 잔바리
*.pdb
*.exp
*.map
*.tlog
*.log

################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.pdb
*.exp

# 용훈이가 추가한거.
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
.vs/
*.cso
# endif

/ZonaiMath/x64/Debug/ZonaiMath.tlog
/ZonaiMath/x64/Debug
/.vs
*/x64
/ZeldaClient/x64/Debug
/PurahEngine/x64/Debug
/ZonaiPhysics/x64/Debug
/ZeldaGraphics/x64/Debug
/ZeldaGraphics/x64/Debug/ZeldaGraphics.tlog
#/x64/Debug
/ZeldaClient/x64/Debug
/PurahEngine/x64/Debug
/ZonaiDemo/x64
/ZonaiPhysics/x64
/ZonaiPhysicsX/x64
/ZonaiGraphics/x64/Debug
/ZonaiSounds/x64/Debug
/ZonaiUtility/x64/Debug
ZeldaClient/Prefab/abnor_Block.fbx
ZeldaClient/Prefab/Altar_02.fbx
ZeldaClient/Prefab/Barrel_01.fbx
ZeldaClient/Prefab/Barrel_03.fbx
ZeldaClient/Prefab/Bone_01.fbx
ZeldaClient/Prefab/Bone_02.fbx
ZeldaClient/Prefab/Box_01.fbx
ZeldaClient/Prefab/Box_03.fbx
ZeldaClient/Prefab/Brick_01.fbx
ZeldaClient/Prefab/Brick_03.fbx
ZeldaClient/Prefab/Bridge_02.fbx
ZeldaClient/Prefab/ButtonFrame.fbx
ZeldaClient/Prefab/Character.fbx
ZeldaClient/Prefab/Character2.fbx
ZeldaClient/Prefab/Column_01.fbx
ZeldaClient/Prefab/Column_03.fbx
ZeldaClient/Prefab/Column_06.fbx
ZeldaClient/Prefab/Column_07.fbx
ZeldaClient/Prefab/Ground_02.fbx
ZeldaClient/Prefab/Ground_10.fbx
ZeldaClient/Prefab/Ground_12.fbx
ZeldaClient/Prefab/Ground_13.fbx
ZeldaClient/Prefab/Ground_14.fbx
ZeldaClient/Prefab/Ivy_01.fbx
ZeldaClient/Prefab/Ivy_02.fbx
ZeldaClient/Prefab/Ivy_03.fbx
ZeldaClient/Prefab/Ivy_04.fbx
ZeldaClient/Prefab/Ivy_05.fbx
ZeldaClient/Prefab/Ivy_06.fbx
ZeldaClient/Prefab/Lever.fbx
ZeldaClient/Prefab/Light_05.fbx
ZeldaClient/Prefab/Light_08.fbx
ZeldaClient/Prefab/metalWall__04.fbx
ZeldaClient/Prefab/metalWall__05.fbx
ZeldaClient/Prefab/MetalWall_01.fbx
ZeldaClient/Prefab/MetalWall_02.fbx
ZeldaClient/Prefab/MetalWall_Door_02.fbx
ZeldaClient/Prefab/OneTon.fbx
ZeldaClient/Prefab/PushAble.fbx
ZeldaClient/Prefab/Stairs_02.fbx
ZeldaClient/Prefab/Tile_04.fbx
ZeldaClient/Prefab/Wall_02.fbx
ZeldaClient/Prefab/Wall_03.fbx
ZeldaClient/Prefab/Wall_04.fbx
ZeldaClient/Prefab/Wall_27.fbx
ZeldaClient/Prefab/Wall_28.fbx
ZeldaClient/Prefab/Wall_31.fbx
ZeldaClient/Prefab/WallDecor_11.fbx
ZeldaClient/Prefab/WallPart_03.fbx
ZeldaClient/Prefab/Wehgit.fbx
ZeldaClient/Prefab/Door_08.fbx
ZeldaClient/Prefab/DoorFurniture_01.fbx
ZeldaClient/Prefab/Wall_10_Door_02.fbx
ZeldaClient/Prefab/Wall_12.fbx
