# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
#*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app

# Files built by Visual Studio
*_i.c
*_p.c
*_h.h
*.ilk
*.meta
*.obj
*.iobj
*.pch
*.pdb
*.ipdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*_wpftmp.csproj
*.log
*.tlog
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc
# 빌드 잔바리
*.pdb
*.exp
*.map
*.tlog
*.log

################################################################################
# 이 .gitignore 파일은 Microsoft(R) Visual Studio에서 자동으로 만들어졌습니다.
################################################################################

*.pdb
*.exp

# 용훈이가 추가한거.
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
.vs/
# endif

/ZonaiMath/x64/Debug/ZonaiMath.tlog
/ZonaiMath/x64/Debug
/.vs
*/x64
/ZeldaClient/x64/Debug
/PurahEngine/x64/Debug
/ZonaiPhysics/x64/Debug
/ZeldaGraphics/x64/Debug
/ZeldaGraphics/x64/Debug/ZeldaGraphics.tlog
#/x64/Debug
/ZeldaClient/x64/Debug
/PurahEngine/x64/Debug
/ZonaiDemo/x64
/ZonaiPhysics/x64
/ZonaiPhysicsX/x64
/ZonaiGraphics/x64/Debug
/ZonaiSounds/x64/Debug
/ZonaiUtility/x64/Debug
